.cell-input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #000;
}

.cell-input:focus {
  outline: 0;
}

.prefilled {
  background-color: rgba(49, 53, 61, 0.25);
  font-weight: bold;
}
