$color_1: #a51c30;
$color_2: #fff;
$color_3: #5cb85c;
$color_4: #ffc107;
$color_5: #818896;
$color_6: #b8bfce;
$color_7: #bdbdbd;
$color_8: #ffffff;
$color_9: #16c7ff;
$color_10: #6c7b88;
$border-color_1: transparent;

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.page-wrapper {
  .sidebar-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .page-content {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    overflow-x: hidden;
    > div {
      padding: 20px 40px;
    }
  }
  * {
    font-size: 0.9rem;
  }
  .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  .theme.chiller-theme {
    background: #1e2229;
  }
}
.sidebar-wrapper {
  .sidebar-brand {
    > a {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-weight: bold;
      flex-grow: 1;
    }
    padding: 10px 20px;
    display: flex;
    align-items: center;
    svg.logo {
      color: $color_1;
      position: relative;
      top: -1px;
      margin-right: 4px;
    }
    #close-sidebar {
      cursor: pointer;
      font-size: 20px;
    }
  }
  .sidebar-dropdown {
    > a {
      &:after {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
  .sidebar-menu {
    .sidebar-dropdown {
      .sidebar-submenu {
        li {
          a {
            &:before {
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }
            svg {
              font-weight: 400;
              font-style: normal;
              display: inline-block;
              text-align: center;
              text-decoration: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              margin-right: 10px;
              font-size: 12px;
              position: relative;
              top: -1px;
            }
            &:hover {
              svg {
                display: inline-block;
                animation: swing ease-in-out 0.5s 1 alternate;
              }
            }
            .badge {
              float: right;
              margin-top: 0px;
            }
            .label {
              float: right;
              margin-top: 0px;
            }
          }
          padding-left: 25px;
          font-size: 13px;
        }
        ul {
          padding: 5px 0;
        }
      }
    }
    ul {
      li {
        a {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          display: inline-block;
          width: 100%;
          text-decoration: none;
          position: relative;
          padding: 8px 30px 8px 20px;
          text-align: left;
          svg {
            &:not(.chevron) {
              font-size: 16px;
              text-align: center;
              border-radius: 4px;
            }
          }
          svg.chevron {
            font-weight: 900;
            font-style: normal;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            background: 0 0;
            position: absolute;
            right: 15px;
            top: 14px;
            background: none !important;
          }
          > .svg-wrapper {
            background: #3a3f48;
            border-radius: 4px;
            margin-right: 10px;
            display: inline-flex;
            place-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
          }
          > .text {
            display: inline-flex;
            height: 30px;
            place-content: center;
            align-items: center;
            top: -2px;
            position: relative;
          }
          &:hover {
            > .svg-wrapper {
              svg {
                &:not(.chevron) {
                  display: inline-block;
                  animation: swing ease-in-out 0.5s 1 alternate;
                }
              }
            }
          }
          span.label {
            float: right;
            margin-top: 8px;
            margin-left: 5px;
          }
          span.badge {
            float: right;
            margin-top: 8px;
            margin-left: 5px;
          }
        }
      }
    }
    padding-bottom: 10px;
    padding-top: 10px;
    .header-menu {
      span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
      }
    }
    .sidebar-submenu {
      display: none;
    }
    .sidebar-dropdown.active {
      > a {
        &:after {
          transform: rotate(90deg);
          right: 17px;
        }
      }
    }
  }
  ul {
    li {
      a {
        svg {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }
    }
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar-search {
    input.search-menu {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .input-group-text {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
  a {
    text-decoration: none;
  }
  .sidebar-header {
    padding: 20px;
    overflow: hidden;
    color: $color_2;
    display: flex;
    > div {
      display: inline-flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
    }
    .game-info {
      > span {
        display: block;
        font-size: 11px;
        text-align: left;
        svg {
          margin-right: 5px;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        span {
          font-size: 11px;
          margin-top: 4px;
        }
      }
      .game-status {
        svg.headset.status-progress {
          color: $color_3;
        }
        svg.headset.status-paused {
          color: $color_4;
        }
        svg {
          &:not(.headset) {
            position: relative;
            font-size: 8px;
            margin-right: 4px;
            top: -1px;
            color: $color_3;
          }
        }
      }
    }
    .game-actions {
      .btn {
        svg {
          position: relative;
          top: 1px;
          margin-right: 5px;
        }
      }
    }
  }
}
#show-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-wrapper.toggled {
  .sidebar-wrapper {
    left: 0px;
  }
  #show-sidebar {
    left: -40px;
  }
}
.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}
.sidebar-content.desktop {
  overflow-y: hidden;
}
.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
    .notification {
      position: absolute;
      top: 0;
    }
  }
}
.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
  }
}

.chiller-theme {
  .sidebar-wrapper {
    background: #31353d;
    .sidebar-header {
      border-top: 1px solid #3a3f48;
      .user-info {
        .user-role {
          color: $color_5;
        }
        .user-status {
          color: $color_5;
        }
        color: $color_6;
      }
    }
    .sidebar-search {
      border-top: 1px solid #3a3f48;
      input.search-menu {
        border-color: $border-color_1;
        box-shadow: none;
        color: $color_5;
        background: #3a3f48;
        &:focus {
          + {
            span {
              color: $color_9;
              text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
            }
          }
        }
      }
      .input-group-text {
        border-color: $border-color_1;
        box-shadow: none;
        color: $color_5;
        background: #3a3f48;
      }
    }
    .sidebar-menu {
      border-top: 1px solid #3a3f48;
      ul {
        li {
          a {
            color: $color_5;
            i {
              background: #3a3f48;
            }
          }
          &:hover {
            > a {
              color: $color_6;
            }
          }
        }
      }
      .sidebar-dropdown.active {
        > a {
          color: $color_6;
        }
        a {
          svg {
            &:not(.chevron) {
              color: $color_9;
              text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
            }
          }
        }
      }
      .sidebar-dropdown {
        div {
          background: #3a3f48;
        }
      }
      .header-menu {
        span {
          color: $color_10;
        }
      }
    }
    .sidebar-brand {
      > a {
        color: $color_5;
        &:hover {
          color: $color_6;
        }
      }
    }
    ul {
      li {
        &:hover {
          a {
            svg {
              &:not(.chevron) {
                color: $color_9;
                text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
              }
            }
          }
        }
      }
    }
    .sidebar-dropdown {
      .sidebar-submenu {
        li {
          a {
            &:hover {
              &:before {
                color: $color_9;
                text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
              }
            }
          }
        }
      }
    }
  }
  .sidebar-footer {
    > a {
      color: $color_5;
      &:hover {
        svg {
          color: $color_6;
        }
      }
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
  }
}
.page-wrapper.chiller-theme.toggled {
  #close-sidebar {
    color: $color_7;
    &:hover {
      color: $color_8;
    }
    > svg {
      position: relative;
      top: -2px;
    }
  }
}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled {
    .page-content {
      padding-left: 300px;
    }
  }
}
