body {
  min-height: 100vh;
}

#root {
  display: flex;
  height: 100vh;
}

#root .page-content {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  padding: 0;
}

#root .page-content main {
  width: 100%;
  background: #fff;
  display: inline-flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}
