body {
  min-height: 100vh;
}

#root {
  display: flex;
  height: 100vh;

  .page-content {
    display: flex;
    padding: 0;

    main {
      background: #fff;
      display: inline-flex;
      flex: auto;
      justify-content: center;
      align-items: center;
    }
  }
}
